[submodule "External/Quick"]
	path = External/Quick
	url = git@github.com:Quick/Quick.git
[submodule "External/Nimble"]
	path = External/Nimble
	url = git@github.com:Quick/Nimble.git
[submodule "External/json-swift"]
	path = External/json-swift
	url = git@github.com:owensd/json-swift.git
[submodule "External/Transport"]
	path = External/Transport
	url = git@github.com:CocoaFlow/Transport.git
